body {
    background-color: #383d46;
    background-image: url(../images/Black\ Concrete\ Bricks.jpg);
}

.headers {
    color: yellow;
}

p {
    color: white;
}

div {
    border: 2px solid gray;
    border-radius: 5px;
    margin: 10px;
}

#myPhoto {
    width: auto;
    height: 250px;
}

ul {
    color: white;
}
